html, body, div, span, applet, object, iframe,
	h1, h2, h3, h4, h5, h6, p, blockquote, pre,
	a, abbr, acronym, address, big, cite, code,
	del, dfn, em, font, img, ins, kbd, q, s, samp,
	small, strike, strong, sub, sup, tt, var,
	dl, dt, dd, ol, ul, li,
	fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td {
	    margin: 0;
	    padding: 0;
	    border: 0;
	    outline: 0;
	    font-weight: inherit;
	    font-style: inherit;
	    font-size: 100%;
	    font-family: inherit;
	    vertical-align: baseline;
      font-family:'word';
	}
	.clearfix:before,
	.clearfix:after {
					    content: "";
					    display: block;
					    clear: both;
					    visibility: hidden;
					    line-height: 0;
					    height: 0;
					    font-size:0;
}

.clearfix { *zoom:1;}
a{text-decoration: none;}
ul,li{
list-style: none;
text-decoration:none;
}
@font-face {
  font-family:'word';
  src: url(../font/nuFiD-vYSZviVYUb_rj3ij__anPXDTzYgA.woff2);
}
.wrap{
  width: 100%;
  height: 100%;
}

.wrap>.mask {
  position: fixed;
  z-index: 2;
  /* 因为遮罩要把 button 遮住, 所以给mask一个固定定位,用 z-index: 2 来控制。   有定位才能用z-index*/
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  /* 0.3 为透明度 */
  top: 0;
  left: 0;
   display: none; 
}

.wrap>.menu {
  width: 300px;
  height: 100%;
  position: fixed;
  background-color: white;
  z-index: 3;
  top: 0;
  /* right: 0; */
  right: -300px;
  /* 让他藏在屏幕的后面 */
}
.wrap>.menu .Cross{
  cursor: pointer;
}
.wrap>.menu div:nth-child(1) i{
 font-size: 20px;
 margin-top: 20px;
 margin-left: 30px;
}
.wrap>.menu div:nth-child(2){
  margin-top: 30px;
  margin-left: 22px;
}
.wrap>.menu div:nth-child(3) li {
 margin-left: 25px;
 margin-top: 10px;
}
.wrap>.menu div:nth-child(3) ul {
  
  margin-top: 15px;
 }
.wrap>.menu div:nth-child(3) li i{
font-size: 16px;
color: #ea4c89;
 }
 .wrap>.menu div:nth-child(3) li a{
  font-size: 12px;
  color: black;
  }
  .wrap>.menu div:nth-child(3) h2{
  font-size: 22px;
  color: black;
  margin-left: 22px;
  margin-top: 22px;
 }
 .wrap>.menu div:nth-child(3) div span{
  display: inline-block;
 background-color: #ea4c89;
 color: white;
 padding: 15px 25px;
margin-left: 22px;
margin-top: 30px;
font-weight: bold;
position: relative;
overflow: hidden;
z-index: 1;
cursor: pointer;
}
.wrap>.menu div:nth-child(3) div span i{
  width: 137.5px;
  height: 51px;
  position: absolute;
  background-color: #68b028;
  top: 0;
  left: -137.5px;
  z-index: -1;
}
.wrap>.menu div:nth-child(4) ul{
  margin-left: 15px;
  margin-top: 25px;
}
.wrap>.menu div:nth-child(4) ul li  i{
  color: white;
  margin-top: 10px;
}
.wrap>.menu div:nth-child(4) ul li{
  float: left;
  margin-left: 5px;
  width: 36px;
  height: 35px;
  background-color: black;
 text-align: center;
 border-radius: 5px;
 cursor: pointer;
}
.wrap>.menu div:nth-child(4) ul li:hover{
  background-color: #ea4c89;
  transition: .2s all linear;
}

 
  




header{
width: 100%;
background-color: #fff5fe;
position: relative;
}
.header-inner{
  width: 80%;
  margin: 0 auto;
 }
.menu{
  float: left;
}
.logo{
  float: left;
}
.logo a{
  width: 150px;
  padding-top: 40px;
  background-image: url("../picture/Logo.png");
  display: block;
  margin-top: 20px;
}
.nav{
  float: left;
  margin-left: 300px;
  margin-top: 25px;
}
.nav>ul>li{
  float: left;
  position: relative;
  /* 给父级定位 */  
  margin-top: 20px;
}
.nav>ul>li>a{
  font-size: 14px;
  color:#020233;
  font-weight: 600;
  font-size: 16px;
  padding: 40px 20px ;
}
.nav>ul>li>a>.fa{
  font-weight: 600;
  margin-left: 7px;
  font-size: 16px;
}

.nav>ul>li:hover>a{
color: #ea4c89;
}

.nav>ul>li>ul{
  background-color: white;
  position: absolute;
  width: 200px;
  left: 15px;
  top: 50px;
  display: none;
  z-index: 2;
}



.nav>ul>li:hover>ul{
  display: block;
}
.nav>ul>li>ul>li>a{
  display: block;
  font-size: 14px;
  color:#020233;
  font-weight: 600;
  padding: 20px;
}


.nav>ul>li>ul>li {
  position: relative;
  overflow: hidden;
  z-index: 1;
}






.nav>ul>li>ul>li i{
  position: absolute;
  width: 200px;
  height: 60px;
  background-color:#ea4c89 ;
  top: 0;
  left: -200px;
  z-index: -1;
}
 
.header-inner img{
  float: right;
  margin-top: 25px;
}
.nav>ul>li>ul>li>a:hover{
  color:white;
}
.media{
  width: 100%;
  padding-bottom: 350px;
}
.word-left .media-heading{
 position: absolute;
 top: 30%;
 left: 20%;
 z-index: 2;
}
.word-left .media-heading>span{
  font-size: 80px;
  font-weight: 800;
}
.word-left .media-heading>span:nth-child(1){
  color: #ea4c89;
}
.word-left .media-heading>span:nth-child(2){
  color: #ea4c89;
  position: absolute;
}
.word-left .media-heading>span:nth-child(3){
  display: block;
}
.media p{
  font-size: 20px;
  margin-left: 400px;
  position: absolute;
  top: 53%;
  left: 0;
}
.media-body .main-button{
  width: 200px;
  height: 100px;
  position: relative;
  /* overflow: hidden; */
}
.main-button>h2{
  background-color:#ea4c89 ;
  font-size: 16px;
  position: absolute;
  top: 500px;
  left: 400px;
  width:141.67px ;
  height: 52px;
  text-align: center;
  line-height: 50px;
  margin-top: 8px;
  overflow: hidden;
  z-index: 1;
  font-weight: bold;
}
.main-button>h2>a{
  display: block;
   color: white;
   display: inline-block;
}
.main-button .main-button-mask{
  position: absolute;
  width: 141.5px;
  height: 52px;
  background-color: #68b028;
  top: 0px;
  left: -142px;
  z-index: -1;
}


.media .moves{
position: relative;
}

.media .moves .move1{
position: absolute;
top: 180px;
left:90px;
animation: animationFramesTwo 20s infinite;
}
@keyframes animationFramesTwo{
0% {transform: translate(0px, 0px) rotate(0deg) scale(1);}
20% {transform: translate(73px, -1px) rotate(36deg) scale(0.9);}
40% {transform: translate(141px, 72px) rotate(72deg) scale(1);}
60% {transform: translate(83px, 122px) rotate(108deg) scale(1.2);}
80% {transform: translate(-40px, 72px) rotate(144deg) scale(1.1);}
100% {transform: translate(0px, 0px) rotate(0deg) scale(1);}
}


.media .moves .move2{
position: absolute;
top: 800px;
left: 297px;
animation: zoomOutLeft 6s infinite;
}
@keyframes zoomOutLeft{
40% {opacity: 1;
transform: scale3d(0.475, 0.475, 0.475) translate3d(42px, 0, 0);}
100% {opacity: 0;
transform: scale(0.1) translate3d(-2000px, 0, 0);
}
}




.media .moves .move3 {
position: absolute;
left: 1000px;
top: 500px;
animation: animationFramesFour 50s infinite;
}
@keyframes animationFramesFour{
0% {transform: translate(-300px, 151px) rotate(0deg);}
100%{transform: translate(251px, -200px) rotate(180deg);}
}





.media .moves .move4 {
position: absolute;
right: 68px;
top: 650px;
animation: animationFramesTwo 20s infinite;
}

@keyframes animationFramesTwo{
0% {transform: translate(0px, 0px) rotate(0deg) scale(1);}
20% {transform: translate(73px, -1px) rotate(36deg) scale(0.9);}
40% {transform: translate(141px, 72px) rotate(72deg) scale(1);}
60% {transform: translate(83px, 122px) rotate(108deg) scale(1.2);}
80% {transform: translate(-40px, 72px) rotate(144deg) scale(1.1);}
100% {transform: translate(0px, 0px) rotate(0deg) scale(1);}
}



.media .moves .move5{
position: absolute;
right: 135px;
top: 70px;
z-index: 2;
}


.media .moves .move6{
position: absolute;
right: 115px;
top: 80px;
}









.media-body .pic>img{
/* width: 640px; */
position: relative;
left: 28%;
top: 180px;
}
.pic>a{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color:#fff5fe;
  display: block;
  position: absolute;
  left: 31%;
  margin-top: -36px;
  border: 1px solid #ea4d89;
}
.pic>a .up{
  display: block;
  font-size: 30px;
  color: #ea4d89;
  margin-left: 10px;
  margin-top: 8px;
}
.pic>a .up:hover{
  color: black;
  transition: 1s linear;
}








.section-First{
  width: 70%;
  margin: 0 auto;
}
.section-First h2{
  text-align: center;
  font-size: 50px;
  margin-top: 100px;
  font-weight: 800;
}

.section-First .pic{
  width: 20%;
  height: 300px;
  background-color:#ffffff;
  box-shadow: 20px 20px 50px 30px #f0f0f3;
  margin-left: 3.5%;
  margin-top: 60px;
}
.section-First .pic{
  position: relative;
  display: inline-block;
  z-index: 2;
  overflow: hidden;
}
/* .section-First .pic .yyds{
  position: absolute;
  top: 16%;
  left: 50%;
  margin-left: -25px;
} */
.section-First .pic div:nth-child(1) img{
  margin-left: 110px;
  margin-top: 30px;
}

.section-First .pic div:nth-child(2) h3{
  position: absolute;
  top: 35%;
  left: 30%;
  font-weight: 800;
  font-size: 25px;
 margin-left: -30px;
}
.section-First .pic:nth-child(3) div:nth-child(2) h3{
 margin-left: -50px;
}

.section-First .pic:nth-child(4) div:nth-child(2) h3{
  margin-left: -50px;
 }

.section-First .pic div:nth-child(2) p{
  position: absolute;
  top: 50%;
  left: 30%;
  text-align: center;
  font-size: 16px;
 margin-left: -45px;
 line-height: 25px;
 color: #595965;
}

.section-First .pic .mask{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../picture/servicebg.png");
  margin-left: -266.41px;
  z-index: 3;
}
.section-First .pic .mask h4{
  position: absolute;
  top: 20%;
  font-size: 25px;
  color: white;
  left: 15%;
  z-index: 3;
}
.section-First .pic .mask a{
  display: block;
  position: absolute;
  top: 80%;
  left: 50%;
  margin-left: -80px;
  border: 1px solid white;
  padding: 10px 25px ;
  color: white;
  z-index: 2;
}
.section-First .pic .mask a:hover{
  background-color: white;
  color: red;
  transition: .5s all;
}
.section-First .pic .mask-color{
  width: 100%;
  height: 100%;
  position: absolute;
  top:300px;
  left: 0; 
  background: linear-gradient(rgba(68,26,70,0.3),rgba(228,75,136,1));
}









.section-second{
  width: 70%;
  margin: 0 auto;
  padding-left: 90px;
}
.word-left{
 width: 510px;
 float: left;
}
.section-second h5{
  font-size: 50px;
  margin-top: 170px;
  font-weight: 800;
}
.section-second p{
  font-size: 16px;
  color: #5f5b5c;
  margin-top: 15px;
  line-height: 25px;
}
.section-second .Main-bar{
  padding-top: 30px;
}
.section-second .Main-bar span:nth-child(1){
font-size: 14px;
font-weight: 600;
}
.section-second .Main-bar span:nth-child(2){
  float: right;
  font-size: 14px;
  font-weight: 600;
  }
  .section-second .Main-bar .strip{
    width: 510px;
    height: 5px;
    background-color: #e9ecef;
    margin-top: 15px;
    /* position: relative; */
    overflow: hidden;
  }
  .section-second .Main-bar .strip .strip-mask{
  width: 370px;
  /* position: absolute; */
  background-color: #ea4d89;
  height: 5px;
  }
  .section-second .Main-bar .strip .strip-maskk{
    width: 250px;
    /* position: absolute; */
    background-color: #ea4d89;
    height: 5px;
    }
    .section-second .Main-bar .strip .strip-maskkk{
    width: 300px;
    /* position: absolute; */
    background-color: #ea4d89;
    height: 5px;
    }
    .section-second .word-left .square{
      position: relative;
      margin-top: 50px;
      overflow: hidden;
      width: 152.02px;
      height: 51px;
    }
    .section-second .word-left .square h6{
      width: 152.02px;
      height: 51px;
      background-color: #ea4d89;
      position: absolute;
    }
    .section-second .word-left .square h6 a{
      position: absolute;
      color: white;
      font-weight: 800;
      z-index: 2;
      margin-left: 20px;
      margin-top: 15px;
    }
    .section-second .word-left .square .square-mask{
      position: absolute;
      background-color: #68b028;
      width: 152.02px;
      height: 51px;
      left: -152px;
    }
    .section-second .pic-right{
      width: 600px;
      float: left;
      margin-top: 170px;
      margin-left: 110px;
    }
    .section-second .pic-right img{
      transition: .5s all linear;
    }






    .section-third{
    width: 70%;
    margin:  0 auto;
    }
    .section-third h2{
      text-align: center;
      font-size: 50px;
      font-weight: 800;
      margin-top: 170px;
    }
    .section-third .section-third-by{
      text-align: center;
      margin-top: 40px;
      margin-bottom: 40px;
    }
    .section-third .section-third-by button{
      font-family: Inter, sans-serif;
      font-weight: 600;
      font-size: 16px;
      background: none;
      border-width: 0px;
      border-style: initial;
      border-color: initial;
      border-image: initial;
      padding: 0px;
      margin: 0px 12px;
      cursor: pointer;
    }
    .section-third-by .active{
      color: #ea4c89;
    }








    .grid{
      height: 810.39px;
      margin-left: 20px;
      position: relative;
      margin-left: 40px;
    }
    .grid .grid-item{
      margin-left:30px;
      margin-top: 30px;
    }
    .grid .grid-item:nth-child(1){
      position: absolute;
      left: 0%;
      top: 0px;
    }
    .grid .grid-item:nth-child(2){
      position: absolute;
      left: 31%;
      top: 0px;
    }
    .grid .grid-item:nth-child(3){
      position: absolute;
      left: 63%;
      top: 5px;
    }
    .grid .grid-item:nth-child(4){
      position: absolute;
      left: 0%;
      top: 390px;
    }
    .grid .grid-item:nth-child(5){
      position: absolute;
      left: 31%;
      top: 390px;
    }


  


   
    .grid>.grid-item img{
      border-radius: 10px;
    }
    .grid>.grid-item .mask{
    width: 370px;
    height: 360px;
     position: absolute;
     top: 0px;
     left: 0px;
     background: linear-gradient(to top right,rgba(248,116,245,0.5),rgba(153,70,206));
     border-radius: 10px;
     display: none;
    }

    .grid>.grid-item .mask>div{
      position: absolute;
      left: 10px;
      top: 280px;
      margin-top: 20px;
    }
    .grid>.grid-item .mask>div span{
      font-size: 14px;
      font-weight: 500;
      color: white;
      margin-bottom: 5px;
      display: block;
    }
    .grid>.grid-item .mask>div h4{
      font-size: 20px;
      font-weight: 800;
      color: white;
    }
    .grid>.grid-item .mask a{
      width: 50px;
      height: 50px;
      border-radius: 50%;
      position: absolute;
      left: 40px;
      top: 2px;
      border: 2px solid white;
      }
      .grid>.grid-item .mask a i{
        color: #e8b4ed;
        margin-top: 18px;
        margin-left: 18px;
      }
      .grid>.grid-item .mask a:hover{
        background-color: white;
      }
      .grid>.grid-item .mask a:hover i{
       color: #ea4c89;
        transition: 0.5s all linear;
      }





      .grid>.grid-item:nth-child(3) .maskk{
        width: 370px;
        height: 750px;
        position: absolute;
        top: 0px;
        left: 0px;
        background: linear-gradient(to top right,rgba(248,116,245,0.5),rgba(153,70,206));
        border-radius: 10px;
         display: none;
        }
    
        .grid>.grid-item .maskk>div{
          position: absolute;
          left: 10px;
          top: 680px;
          margin-top: 20px;
          margin-left: 30px;
        }
        .grid>.grid-item .maskk>div span{
          font-size: 14px;
          font-weight: 500;
          color: white;
          margin-bottom: 5px;
          display: block;
        }
        .grid>.grid-item .maskk>div h4{
          font-size: 20px;
          font-weight: 800;
          color: white;
        }
        .grid>.grid-item .maskk a{
          width: 50px;
          height: 50px;
          border-radius: 50%;
          position: absolute;
          left: 40px;
          top: 2px;
          border: 2px solid white;
          }
          .grid>.grid-item .maskk a i{
            color: #e8b4ed;
            margin-top: 18px;
            margin-left: 18px;
      
     }

     .grid>.grid-item .maskk a:hover{
      background-color: white;
    }
    .grid>.grid-item .maskk a:hover i{
     color: #ea4c89;
      transition: 0.5s all linear;
    }




     .section-banner{
       width: 100%;
       /* height: 600px; */
       margin: 0 auto;
     }
   .section-banner .mian-banner{
       position: relative;
       width: 100%;
       height: 100%;
     }
     .section-banner .mian-banner .mask {
     width: 100%;
     height: 100%;
     position: absolute;
     top: 0;
     left: 0;
     background-color: rgba(77, 77, 116,0.6);
     z-index: 2;
    }

    .section-banner .mian-banner img{
      /* width: 1903px; */
      width: 100%;
      display: block;
      margin-top: 70px;
    }
    .section-banner .mian-banner h2{
      font-size: 80px;
      position: absolute;
      top: 29%;
      left: 17%;
      color: white;
      z-index: 3;
      font-weight: 800;
    }
    .section-banner .mian-banner p{
      position: absolute;
      top: 68%;
      left: 17.5%;
      color: #c5c5d0;
      z-index: 3;
      font-size: 22px;
    }
    .section-banner .mian-banner a{
      width: 90px;
      height: 90px;
      border-radius: 50%;
      position: absolute;
      top: 35%;
      left: 71%;
      color: #c5c5d0;
      z-index: 3;
      font-size: 22px;
      background-color: white;
      animation: pulse 2s infinite;
    }
    @keyframes pulse{
      0% {-webkit-box-shadow: 0 0 0 0 rgb(255 255 255 / 40%);}
      70% {-webkit-box-shadow: 0 0 0 45px rgb(255 255 255 / 0%);}
      100% {-webkit-box-shadow: 0 0 0 0 rgb(255 255 255 / 0%);}
    }


    



    
    .section-banner .mian-banner a img{
     width: 31px;
     height: 38px;
     margin-top: 30px;
     margin-left: 30px;
    }




    .section-fourth{
      height: 100%;
      width: 70%;
      margin: 0 auto;
      margin-bottom: 200px;
    }
    .section-fourth h2{
      text-align: center;
      font-size: 60px;
      font-weight: 600;
      margin-top: 120px;
    }
    .swiper-container {
      margin-top: 50px;
      width: 90%;
      height: 523.78px;
  }  
  .swiper-pagination-bullets{
    top: 480px;
    height: 24px;
  }
  .swiper-pagination-bullets .swiper-pagination-bullet {
    cursor: pointer;
    background-color: #ea4d89;
  }
  .swiper-slide{
  position: relative;
  height: 420px;
  }

  .swiper-slide div:nth-child(2){
  position: absolute;
   width: 370px;
   height: 350px;
   background-color: rgba(234,77,137,0.9);
   left: 0%;
   top: -350px;
  }

  .swiper-slide div:nth-child(4){
    position: absolute;
    left: 35%;
    text-align: center;
    margin-top: 15px;
  }
  .swiper-slide div:nth-child(4) h3:hover{
    color: #ea4d89;
    cursor: pointer;
  }
  .swiper-slide div:nth-child(4) span{
    font-size: 14px;
  }
  .swiper-slide div:nth-child(4) h3{
    font-size: 18px;
    font-weight: 600;
  }



   /*笔记，复习重点  */
  .swiper-slide div:nth-child(3){
    position: absolute;
    right: 40px;
    top: 20px;
    visibility: hidden;
    opacity: 0;
    transition: visibility 1s,opacity 1s;
  }
  .swiper-slide:hover>div:nth-child(3){
    opacity: 1;
    visibility: visible;
  }
  /*笔记，复习重点  */



  .swiper-slide div:nth-child(3) a{
    display: block;
    border: 2px solid white;
    width: 35px;
    height: 35px;
    text-align: center;
    margin-top: 10px;
  }
  .swiper-slide div:nth-child(3) a i{
     margin-top: 10px;
     color: white;
     font-size: 18px;
  }








  .section-fifth{
    width: 75%;
    margin: 0 auto;
    margin-bottom: 100px;
  }
  .fifth-left{
    width: 600px;
    height: 310px;
    float: left;
    margin-left: 20px;
  }
  .fifth-left h3{
    font-size: 50px;
    font-weight: 600;
    margin-left: 60px;
    margin-top: -45px;
  }
  .fifth-left p{
    margin-left: 60px;
    line-height: 30px;
    color: #565162;
  }

  .fifth-left span{
    display: inline-block;
    background-color:#ea4d89 ;
    margin-left: 60px;
    padding: 15px 25px;
    margin-top: 25px;
    color: white;
    font-weight: bold;
    cursor: pointer;
  }
  .fifth-left span{
   position: relative;
   overflow: hidden;
   z-index: 2;
  }
  .fifth-left  i{
    width: 163.73px;
    height: 51px;
    left: -163.73px;
    background-color: #68b028;
    top: 0%;
    position: absolute;
    z-index: -1;
  }
 .fifth-right{
   margin-top: -100px;
   padding-right: 100px;
  width: 700px;
  /* height: 420px; */
  float: right;
}
.fifth-right .pic{
  background-color: white;
  float: left;
  width: 200px;
  height: 200px;
  box-shadow: 0px 3px 30px 0px #f0f0f3 ;
  margin-left: 30px;
  margin-top: 30px;
}
.fifth-right .pic img{
  display: block;
  margin-top: 55px;
  margin-left: 55px;
}
.fifth-right div img:hover{
  filter:brightness(20%);
  /* 对比度 */
  transition: 0.5s all linear;
}


.section-finally{
  width: 100%;
  background-color: #fbdef8;
  padding-top: 120px;
  padding-bottom: 120px;
}
.section-finally.riw{
  width: 70%;
  margin: 0 auto;
}
.section-finally .row{
  margin-left: 350px;
  margin-top: 55px;
}
.row .finally-pic{
  float: left;
  margin-left: 30px;
}
.row .finally-pic div:nth-child(1){
  width: 370px;
  height: 350px;
  overflow: hidden;
}
.row .finally-pic div:nth-child(1) img{
  display: block;
  transition: all 0.5s linear;
  width: 100%;
}
.row .finally-pic div:nth-child(1):hover img{
transform: scale(1.1);
}
.section-finally h2{
  font-size: 50px;
  font-weight: 600;
 text-align: center;
}
.row .finally-pic div:nth-child(2){
 width: 370px;
 height: 120px;
 background-color: white;
 margin-top: -3px;
border-radius: 10px;
padding-top: 20px;
}
.row .finally-pic div:nth-child(2) span{
font-size: 12px;
color: grey;
margin-left: 35px;
}
.row .finally-pic div:nth-child(2) h5{
  font-size: 20px;
  margin-left: 35px;
  margin-top: 15px;
  font-weight: bold;
}
.row .finally-pic div:nth-child(2) h5:hover{
  cursor: pointer;
  color: #ea4c89;
  transition: .5s all;
}
.section-finally .word{
  text-align: center;
  padding-top: 60px;
}
.section-finally .word span{
  display: inline-block;
  background-color: #ea4c89;
  padding: 15px 30px;
  color: white;
  font-weight: bold;
  font-size: 14px;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.section-finally .word span i{
  display: block;
  width: 136.72px;
  height: 49px;
  background-color:#68b028 ;
  position: absolute;
  left: -136.72px;
  top: 0;
  z-index: -1;
  cursor: pointer;
}




footer{
  width: 100%;
  background-color: #1b1b31;
  padding-top: 100px;
}
footer .footer-top{
  width: 70%;
  margin: 0 auto;
}
.footer-top .text{
  margin-left: 90px;
  float: left;
}
.footer-top .text div{
  margin-top: 20px;
}
.footer-top .text div:nth-child(1) h2{
color: white;
font-size: 35px;
margin-bottom: 20px;
}
.footer-top .text div:nth-child(1) p{
 color: grey;
 line-height: 25px;
}

.footer-top .text div:nth-child(2) h2{
  color: white;
  font-size: 18px;
  margin-bottom: 5px;
  }
  .footer-top .text div:nth-child(2) a{
   color: grey;
  }
  .footer-top .text div:nth-child(2) a:hover{
    color: white;
   }

  .footer-top .text div:nth-child(3) h2{
    color: white;
    font-size: 18px;
    margin-bottom: 5px;
    }
    .footer-top .text div:nth-child(3) a{
     color: grey;
    }  .footer-top .text div:nth-child(3) a:hover{
      color: white;
  }

  .footer-top .word{
    float: left;
    margin-left: 200px;
    margin-top: 30px;
    margin-right: -90px;
  }
  .footer-top .word h2{
    color: white;
    font-size: 20px;
  }
  
  .footer-top .word ul li a{
   color: grey;
   line-height: 40px;
  }
  .footer-top .word ul li a:hover{
    color: #ea4c89;
  }

  .footer-top .LogIn{
    float: right;
    margin-right: 80px;
    padding-bottom: 120px;
  }
  .footer-top .LogIn div:nth-child(1) input{
    width: 250px;
    height: 10px;
    border: 2px solid #38384b;
    margin-bottom: 20px;
    padding: 20px 20px;
    background: transparent;
  }
  .footer-top .LogIn div:nth-child(2) textarea{
    width: 250px;
    height: 50px;
    border: 2px solid #38384b;
    margin-bottom: 20px;
    padding: 20px 20px;
    background: transparent;
    resize: none;
  }
  .footer-top .LogIn span{
    display: inline-block;
    background-color: #ea4c89;
    padding: 15px 20px;
    color: white;
    font-weight: bold;
    margin-top: 30px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    cursor: pointer;
  }
  .footer-top .LogIn span i{
    width: 155.45px;
    height: 51px;
    background-color: #68b028;
    position: absolute;
    top: 0;
    left: -155px;
    z-index: -1;
  }

  .footer-dow{
    border-top: 1px solid grey;
    width: 100%;
    padding-bottom: 30px;
  }
  .footer-dow p{
    text-align: center;
   margin-top: 25px;
   color: white;
  }
  .footer-dow p span{
  color: #ea4c89;
  cursor: pointer;
  }




   
 

  




  











  





    





 
 
   
    



   
   


 


  
 





























